
.icon-agenda-01:before { content: '\e808'; } /* '' */
.icon-b2b-01:before { content: '\e809'; } /* '' */
.icon-conférences:before { content: '\e80a'; } /* '' */
.icon-exposition-01:before { content: '\e80b'; } /* '' */
.icon-participants-01:before { content: '\e80c'; } /* '' */
.icon-workshops:before { content: '\e80d'; } /* '' */
.icon-accueil-01:before { content: '\e80e'; } /* '' */
.icon-workshops-1:before { content: '\e80f'; } /* '' */
